= form_for ["admin", @product_type], :html => {:multipart => true} do |t|
  = t.label :name
  = t.text_field :name
  = t.label :image
  = t.file_field :image
  = t.label :description
  = t.text_area :description
  = t.submit "Сохранить"
