.col-md-12
  .row.text-center
    .product-block
      %col-md-2
        = link_to image_tag("own_cloud.png"), "/articles/1"
        %h4 Частное облако
        %p Это безопасная облачная модель, которая имеет ряд преимуществ по сравнению с частным и с публичным облаком
        %br
        %p
          = link_to "Заказать", product_types_path, :class => "btn btn-default"
      %col-md-2
        = link_to image_tag("1c.png"), "/articles/14"
        %h4 Аренда 1С
        %p Аренда 1С в облаке по схеме SaaS позволит пользоваться программным обеспечением, как услугой с помесячной оплатой
        %br
        %p
          = link_to "Заказать", product_types_path, :class => "btn btn-default"

      %col-md-2
        = link_to image_tag("ms.png"), "/articles/13"
        %h4 Аренда Office и другого ПО Microsft
        %p Аренда ПО Microsoft в облаке существенно уменьшает расходы на приобретение бизнес приложений Microsoft
        %p
          = link_to "Заказать", product_types_path, :class => "btn btn-default"

      %col-md-2
        = link_to image_tag("mail.png"), "/articles/12"
        %h4 Аренда бизнес почты
        %p В стоимость услуги входит: подключение и первичные настройки, антиспам, антивирус, резервное копирование, поддержка 24/7
        %br
        %p
          = link_to "Заказать", product_types_path, :class => "btn btn-default"

      %col-md-2
        = link_to image_tag("virt.png"), "/articles/16"
        %h4 Виртуальный рабочий стол
        %p Отсутствие капитальных затрат, существенное сокращение расходов на покупку и модернизацию ПК
        %p
          = link_to "Заказать", product_types_path, :class => "btn btn-default"

  %br
  .row.product-block
    .col-sm-6.text-left.left-cloud
      %h2{style: "margin-left: 70px;"} Плюсы частного облака
      = image_tag "privcloud.png", style: "float: right;"
      %ul
        %li высокий уровень безопасности;
        %li полная изолированность инфраструктуры;
        %li контроль оборудования;
        %li аренда железа корпоративного уровня
        %li блейд-серверы IBM, HP,NEC, NetApp;
        %li аренда ПО по модели SaaS с постоплатной
        %li схемой расчета;
        %li полностью сконфигурированное и настроенное оборудование;
        %li возможность быстрого расширения ресурсов;
        %li поддержка квалифицированного персонала в режиме 24х7;
        %li возможность размещения на площадке заказчика.
        %li Компания E-VPN являясь авторизированным партнером VMware уровня Enterprise в качестве платформы виртуализации частного облака 2.0 используется Vmware vSphere
    .col-sm-6.text-left.right-cloud
      %h2{style: "margin-left: 70px;"} Минусы популярных облачных моделей
      .col-sm-6
        .cloud1
          %h4{style: "color: #fff; padding: 60px 0 0 20px;"} Публичное облако
        %ul
          %li отсутствие контроля оборудования
          %li отсутствие определения локации
          %li вопросы безопасности
          %li нет собственных конфигураций
      .col-sm-6
        .cloud2
          %h4{style: "color: #fff; padding: 60px 0 0 20px;"} Частное облако
        %ul
          %li затраты на железо и ПО
          %li сложность конфигурирования
          %li требования к высокой квалификации персонала
          %li сложность расширения
  .row
    %h4{style: "text-align: center;"}
      Экономическое обоснование аренды оборудования и программного обеспечения.
      = image_tag "pdf.png"
  .row
    .col-md-2.col-md-offset-5
      = link_to "Оформить заказ", product_types_path, :class => "btn btn-default"

  /=render :partial => "common/calc"

