.footer-line
.container
  .row
    .col-sm-2
      = image_tag "cloud.png", style: "height: 40px"
    .col-sm-3
      = link_to "Частное облако"
      %br
      = link_to "Корпоративная почта"
      %br
      = link_to "Аренда ПО Microsoft"
      %br
      = link_to "1С аренда и хостинг"
      %br
      = link_to "MS Office в аренду"
      %br
      = link_to "Облачная IP-ATC"
      %br
      = link_to "Виртуальный рабочий стол"
    .col-sm-2
      = link_to "Наши клиенты"
    .col-sm-2
      = link_to "Контакты"
  .row
    %p.pull-left &copy; E-VPN #{Date.today.year}
    %p.pull-right Все права защищены


