.row
  %nav.navbar.navbar-default.grad-line
    .container
      %ul.nav.navbar-nav
        %li
          = link_to "ОБЛАЧНЫЕ СЕРВИСЫ SAAS"
        %li
          = link_to "БЕЗОПАСНОСТЬ"
        %li
          = link_to "ТАРИФЫ"
        %li
          = link_to "ОПЛАТА"
        %li
          = link_to "О КОМПАНИИ"
        %li
          = link_to "КОНТАКТЫ"
        %li
          = link_to "ONLINE-ПОДДЕРЖКА"





