.container
  .row
    .col-md-3
      = image_tag "logo.jpg", :alt => "e-vpn.ru", :class => "top-logo"
      = image_tag "logo-text.png", :class => "logo-text"
    .col-md-3
      = link_to "Панель управления"
      %br
      %span.glyphicon.glyphicon-log-in
      = link_to "Личный кабинет"
    .col-md-3
      %span.glyphicon.glyphicon-user
      = link_to "Регистрация"
      %br
      = link_to "Мои заказы"
    .col-md-3
      %h3 +7(495)5046064

