.row
  %nav.navbar.navbar-default.grad-line
    .container
      %ul.nav.navbar-nav
        %li
          = link_to "ОБЛАЧНЫЕ СЕРВИСЫ SAAS", products_path
        %li.dropdown
          = link_to articles_path, { class: 'dropdown-toggle',data: {toggle: 'dropdown'}} do
            Безопасность
            %b.caret
          %ul.dropdown-menu
            - @menus.find {|menu| menu.name == "security_menu"}.menu_items.each do |m|
              %li
                = link_to m.title, m.url

        %li
          = link_to "ТАРИФЫ"
        %li
          = link_to "ОПЛАТА"
        %li
          = link_to "О КОМПАНИИ"
        %li
          = link_to "КОНТАКТЫ"
        %li
          = link_to "ONLINE-ПОДДЕРЖКА"





