!!!
%html
  %head
    %title E-VPN.ru
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container
      .row
        %nav.navbar.navbar-default
          %ul.nav.navbar-nav.navbar-left
            %li
              = link_to "Меню", admin_menus_path
            %li
              = link_to "Тип статьи", admin_article_types_path
            %li
              = link_to "Статьи", admin_articles_path
            %li
              = link_to "Тип продукта", admin_product_types_path
            %li
              = link_to "Продукты", admin_product_items_path

            %li
              = link_to "Выход", destroy_user_session_path, :method => :delete

      .row
        =yield
