!!!
%html
  %head
    %title E-VPN.ru
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render :partial => "common/top_address"
    = render :partial => "common/top_menu"
    %p.notice
      = notice
    %p.alert
      = alert
    .container
      =yield
    = render :partial => "common/footer"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

