!!!
%html
  %head
    %title E-VPN.ru
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render :partial => "common/top_address"
    = render :partial => "common/top_menu"
    .container{:style => "min-height: 500px;"}
      - if current_page? root_url
        = yield
      - else
        =render_breadcrumbs
        .col-sm-3{style: "padding: 0 0 0 0;"}
          = render :partial => "common/left_menu"
        .col-sm-9
          - if notice
            %p.notice
              = notice
          - if alert
            %p.alert
          = alert

          =yield

    = render :partial => "common/footer"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

